nav {
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  padding: 1.5em;

}
.writeTweet {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
}

#tweeterLogo {
  font-family: "Bungee", "sans-serif";
  flex-grow: 1;
}
#inBetween {
  flex-grow: 6;
}
#newTweet {
  flex-grow: 1;
}

.largeText {
  font-size: large;
}

#navBarDownArror {
  align-self: center;
  padding-top: 0.2em;
}