
.new-tweet {
  display: flex;
  justify-content: center;
  background-color: #ececec;
  flex-direction: column;
  padding-bottom: 5%;
}

.tweeting{
  display: flex;
  justify-content: space-between;
}

.counter {
  margin-right:0.5em;
  font-family: "Bungee", "sans-serif";
}

.lineBreak {
  width: 100%;
  border: 1px solid rgb(58, 55, 55);
}

.over-limit {
  margin-right:0.5em;
  font-family: "Bungee", "sans-serif";
  color: red;
}


#tweetButton  {
  margin-left:0.5em;
  margin-bottom:0.5em;
  background-color: #4056A1;
  color: #ececec;
  font-family: "Bungee", "sans-serif";
}

#tweet-text {
  background-color: #ececec;
  width: 90%;
  margin: 0.1em;
  margin-left: 1em;
  border: 0;
}



