
.new-tweet {
  display: flex;
  justify-content: center;
  background-color: #ececec;
  flex-direction: column;
  padding-bottom: 5%;
  display: none;
}

.tweeting{
  display: flex;
  justify-content: space-between;
}

.counter {
  margin-right:0.5rem;
  font-family: "Bungee", "sans-serif";
}

.lineBreak {
  width: 100%;
  border: 1px solid rgb(58, 55, 55);
}

.over-limit {
  margin-right:0.5rem;
  font-family: "Bungee", "sans-serif";
  color: red;
}
.error {
  display: inline;
  font-family: "Bungee", "sans-serif";
  color: red;
}
.error-message {
  display: none;
}


#tweetButton  {
  margin-left:0.5rem;
  margin-bottom:0.5rem;
  background-color: #4056A1;
  color: #ececec;
  font-family: "Bungee", "sans-serif";
}

#tweet-text {
  background-color: #ececec;
  width: 90%;
  margin: 0.1rem;
  margin-left: 1rem;
  border: none;
  outline: none;
  resize: none;
}


