.tweets-body {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}
.tweets-body:hover {
  background-color: #f5e1e1;
  box-shadow: 5px 10px;  
}

.tweets-body:hover .end-element {
  color: rgb(160, 149, 134);
}
.tweets-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 5%;
}
.tweets-footer {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  padding-bottom: 3%;
}
.tweet-buttons{
  color: #ececec;
}

.tweets-body:hover .tweet-buttons{
  color: #4056A1;
}
#tweet-photo {
  max-width: 25%;
  height: auto;
}
.left-name {
  display: flex;
  justify-content: space-around;
}

.username { 
  align-self: center;
}
#handle {
  align-self: center;
}

.end-element {
  color:  #b4b4b4;
}

#age-of-tweet {
  display: inline;
}

#tweet-content{
  overflow-wrap: break-word;
}
